# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#folders
/output/*
/application.*/
/graphics_test/
/test_scripts/graphics_test/heightmap_template/application.*/
/test_scripts/graphics_test/application.*/
/references/
/test_scripts/graphics_test/heightmap_template/images/
